// _current-issue.scss

.current-issue {
  background: $gray-lightest;

  img {
    max-width: 45%;
    position: relative;
    left: 24em;
    margin: 2em;
    display: inline-block;
  }

  h2 {
    font-family: 'IM Fell French Canon', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.3em;
    letter-spacing: .18em;
  }

  p, a {
    text-transform: uppercase;
  }

  p {
    font-size: .7em;
    letter-spacing: .17em;
    line-height: 2em;
    margin: 0;
  }

  a {
    font-size: .9em;
    letter-spacing: .05em;
    display: inline-block;
    text-decoration: none;
    color: $gray-dark;
    padding: 1em 3em;
    margin: 2em;
    border: 1px solid $gray-dark;
    &:hover {
      background: $gray-light;
      color: $white;
      border: none;
    }
  }
}
