// _main-nav.scss

.main-nav {
  font-size: small;
  letter-spacing: 0.15em;

  ul {
    @include clearfix;
    border: 1px solid red;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    border: 1px solid black;
    float: left;
    margin-left: .5em;
    margin-right: 3.4em;
    font-family: $font-serif;
    }
  }
  a {
    border: 1px solid yellow;
    color: $gray-dark;
    text-decoration: none;
    padding: 0.5em 1.5em;
    display: inline-block;
    &:hover {
      background: $gray-light;
      color: $white;
  }
}
