// _main-nav.scss

.main-nav {
  font-size: .75em;
  letter-spacing: .15em;

  ul {
    @include clearfix;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    margin-left: .5em;
    margin-right: 3.5em;
    font-family: 'IM Fell French Canon', serif;
    font-weight: 400;
    font-style: italic;
  }

  a {
    color: $gray-dark;
    text-decoration: none;
    padding: 0.5em 1.5em;
    display: inline-block;
    &:hover {
      background: $gray-light;
      color: $white;
    }
  }
}


.midsection {
  margin-right: 20em;
}
