// _page-footer.scss

.page-footer {
  background: $gray-light;
  height: 12em;
  color: $white;
  font-family: 'IM Fell French Canon', serif;
  font-weight: 400;
  font-style: italic;
  font-size: .75em;
  letter-spacing: .15em;

  ul {
    @include clearfix;
    list-style-type: none;
    margin: 0;
    padding: 4em 0 4em 15em;
  }

  li {
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0 1em;
  }

  a {
    text-decoration: none;
    color: $white;
    padding: 0.5em 1.5em;
    margin: 2em;
    &:hover {
      color: $gray-dark;
    }
  }

.sans-serif {
  font-family: $font-sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.25em;
  letter-spacing: 0.1em;
  padding: 0 1.6em 0 1.6em;
}

}
