// _page-header.scss

.page-header {
  @include clearfix;
  width: 100%;
  position: relative;
  margin-top: 5em;
  margin-bottom: 5em;

  .main-nav {
    float: left;
    margin-left: 15em;
  }

  .social-media {
    float: right;
    margin-right: 15em;
  }

}
