// page-footer.scss

.page-footer {
  background: $gray-light;
  height: 9em;
  color: $white;
  font-family: $font-serif;

  ul {
    border: 1px solid red; // delete
    @include clearfix;
    list-style-type: none;
    margin: 0;
    padding: 3em 12em;
  }

  li {
    border: 1px solid black; // delete
    float: left;
    margin-right: 1em;
    display: inline-block;
  }

  a {
    border: 1px solid yellow; // delete
    text-decoration: none;
    color: $white;
    font-size: .9em;
    letter-spacing: .05em;
    padding: 0.5em 1.5em;
    margin: 2em;
    &:hover {
      color: $gray-dark;
    }
  }
}
