// _page-header.scss

.page-header {
  @include clearfix;
  width: 100%;
  position: relative;
  margin-top: 2em;
  margin-bottom: 1.5em;
  margin-right: auto;
  margin-left: auto;

  .cereal-logo {
    display: block;
    position: absolute;
    top: 0;
    left: 41em;
    margin: 0;
    padding: 0;
  }

  .main-nav {
    float: left;
    margin-left: 15em;
  }

  .social-media {
    float: right;
    margin-right: 11em;
  }

}
