// _product-block.scss
.container {
  @include clearfix;
  width: 1130px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

.product-block {
  width: 50%;
  padding: 0 .2em;
  margin: 0;
  float: left;
  color: $white;
  &:hover {
    background-color: $gray-dark;
    opacity: .6;
    h2 {
      visibility: visible;
    }
  }

  img {
    z-index: -100;
  }

  .title {
    visibility: hidden;
    font-family: 'IM Fell French Canon', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    letter-spacing: 0.15em;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
