// _social-media.scss

.social-media {

  ul {
  @include clearfix;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: .75em;
  }

  li {
    float: left;
    padding: 0 0.1em;
  }

  a {
    display: inline-block;
    color: $gray-dark;
    text-decoration: none;
    padding: .8em;
    &:hover {
      background: $gray-light;
      color: $white;
    }
  }
}
