// _travel-guides.scss

.travel-guides {
  background: $gray-lightest;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
  padding: 1em 15em 3em 15em;
  @include clearfix;

  p, a {
    text-transform: uppercase;
  }

  p {
    display: inline-block;
    font-size: .7em;
    letter-spacing: .17em;
    margin-left: 1em;
    width: 25em;
    height: 1.5em;
    padding: 0;
    text-align: center;
  }

  a {
    display: inline-block;
    font-size: .9em;
    letter-spacing: .05em;
    text-decoration: none;
    color: $gray-dark;
    padding: 1em 4em;
    margin: 2em 3.5em;
    border: 1px solid $gray-dark;
    &:hover {
      background: $gray-light;
      color: $white;
      border: none;
    }
  }
}

  .guided-map {
    width: 28em;
    margin: 3em;
    float: left;
  }

  .guided-logo {
    zoom: 0.5;
    display: inline-block;
    margin: 11em 0 2em 10em;
  }
