// variables.scss

// Type
$font-sans-serif: "Oswald", sans-serif; //body copy

// Colors
$white: #fff;
$gray-lightest: #F0F0F0; //panel background
$gray-light: #BEBEBE; //footer background
$gray-dark: #999; //type, social media icons
