// main.scss

@import "variables";
@import "globals";
@import "mixins";

// modules
@import "css-module";
@import "current-issue";
@import "hero-image";
@import "main-nav";
@import "page-footer";
@import "page-header";
@import "product-block";
@import "social-media";
@import "travel-guides";
